In [2]:
# importing libraries

from sklearn.model_selection import train_test_split ,cross_val_score, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import mutual_info_regression
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
import scipy.stats as stats

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="darkgrid", palette="pastel")

In [3]:
# reading the data into a DataFrame
df = pd.read_csv(r'C:\dev\Machine-learning-course\assignment-1\car_prices_dataset.csv')

In [5]:
# inspecitng the head of the dataframe
df.head()

,brand,model,year,transmission,fuel_type,color,engine_cc,mileage_km,owners,horsepower,condition_score,price,engine,dashboard color
0,Mazda,2,2005,Manual,Hybrid,Black,1968.551345,246331.286848,2.974746,159.040191,4.125051,4000.000000,4800.000000,Black
1,Skoda,Kodiaq,2023,Automatic,Hybrid,Red,1792.705225,146456.807651,4.021719,117.877067,5.335565,7000.245383,8400.294460,Red
2,Kia,Picanto,2017,Manual,Diesel,Red,NaN,253564.851985,0.917662,80.778050,5.637251,4000.000000,4800.000000,Red
3,Skoda,Octavia,2017,Manual,NaN,Red,1375.134678,165005.455171,1.063860,201.808899,8.092011,5550.672284,6660.806741,Red
4,Skoda,Octavia,2008,Manual,NaN,Silver,NaN,75019.284734,1.987323,143.429747,3.009993,4000.000000,4800.000000,Silver

In [7]:
# inspecting info of the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand            386 non-null    object
 1   model            377 non-null    object
 2   year             400 non-null    int64
 3   transmission     381 non-null    object
 4   fuel_type        380 non-null    object
 5   color            378 non-null    object
 6   engine_cc        368 non-null    float64
 7   mileage_km       357 non-null    float64
 8   owners           375 non-null    float64
 9   horsepower       362 non-null    float64
 10  condition_score  364 non-null    float64
 11  price            364 non-null    float64
 12  engine           364 non-null    float64
 13  dashboard color  400 non-null    object
dtypes: float64(7), int64(1), object(6)
memory usage: 43.9+ KB

np.int64(2005)

In [ ]:
df["year"].max()
df["year"].min()